<div class="cart-top container-fluid">
    <div class="container d-flex">

       <div class="item">
        <input type="button" value="All products">

       </div>
       <div class="item">
        <input type="button" value="kurti">
       </div>
       <div class="item">
        <input type="button" value="SAREE">
       </div>
       <div class="item">
        
       </div>
    </div>

</div>

<div class="container">
    <div class="row">
        <div class="card col-md-3">
            <img src=".\assets\images/kurti1.jpg" alt="">
            <h5>kurta1</h5>
            <p>heloooo</p>
            <p>Rs:3000</p>
            <button class="btn btn-primary">view more</button>

        </div>
        <div class="card col-md-3">
            <img src=".\assets\images/kurta5.jpg" alt="">
            <h5>kurta2</h5>
            <p>heloooo</p>
            <p>Rs:3000</p>
            <button class="btn btn-primary">view more</button>

        </div>
        <div class="card col-md-3">
            <img src=".\assets\images/kurti2.jpg" alt="">
            <h5>kurta3</h5>
            <p>heloooo</p>
            <p>Rs:3000</p>
            <button class="btn btn-primary">view more</button>

        </div>
        <div class="card col-md-3">
            <img src=".\assets\images/kurti3.jpg" alt="">
            <h5>kurta4</h5>
            <p>heloooo</p>
            <p>Rs:3000</p>
            <button class="btn btn-primary">view more</button>

        </div>
        <div class="card col-md-3">
            <img src=".\assets\images/kurti4.jpg" alt="">
            <h5>kurta5</h5>
            <p>heloooo</p>
            <p>Rs:3000</p>
            <button class="btn btn-primary">view more</button>

        </div>
        <div class="card col-md-3">
            <img src=".\assets\images/saree1.jpg" alt="">
            <h5>saree1</h5>
            <p>heloooo</p>
            <p>Rs:3000</p>
            <button class="btn btn-primary">view more</button>

        </div>
        <div class="card col-md-3">
            <img src=".\assets\images/saree2.jpg" alt="">
            <h5>saree2</h5>
            <p>heloooo</p>
            <p>Rs:3000</p>
            <button class="btn btn-primary">view more</button>

        </div>
        <div class="card col-md-3">
            <img src=".\assets\images/saree3.jpg" alt="">
            <h5>saree23</h5>
            <p>heloooo</p>
            <p>Rs:3000</p>
            <button class="btn btn-primary">view more</button>

        </div>
        <div class="card col-md-3">
            <img src=".\assets\images/saree4.jpg" alt="">
            <h5>saree24</h5>
            <p>heloooo</p>
            <p>Rs:3000</p>
            <button class="btn btn-primary">view more</button>

        </div>
        
    </div>
</div>